# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local
